<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TABIBI Admin</title>
    <!-- CSS files -->
    <!-- <link href="../dist/libs/dropzone/dist/dropzone.css?1674944402" rel="stylesheet"/> -->
    <link href="../../static/libs/dropzone/dist/dropzone.css?1674944402" rel="stylesheet"/>
    
    <link href="../../static/css/tabler.min.css?1674944402" rel="stylesheet"/>
    <link href="../../static/css/tabler-flags.min.css?1674944402" rel="stylesheet"/>
    <link href="../../static/css/tabler-payments.min.css?1674944402" rel="stylesheet"/>
    <link href="../../static/css/tabler-vendors.min.css?1674944402" rel="stylesheet"/>
    <link href="../../static/css/demo.min.css?1674944402" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <link rel="stylesheet" href="../../static/mycss/style.css">
     
  </head>

  