<!doctype html>
<html lang="en">
  <%- include('./partials/head-sign.ejs') %>

  <body  class=" d-flex flex-column bg-white">
    <script src="./static/js/demo-theme.min.js"></script>
    <div class="row g-0 flex-fill">


    
      <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
          <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="./images/TABIBI-removebg.png" height="106" alt=""></a>
          </div>
          <h2 class="h3 text-center mb-3">
            Login to your account
          </h2>
          <form action="/auth/login" method="POST" autocomplete="off" novalidate>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="your@email.com" autocomplete="off">
            </div>
            <div class="mb-2">
              <label class="form-label">
                Password
                <span class="form-label-description">
                    <a href="/forgot-password">I forgot password</a>
                  </span>
            </label>
            <div class="input-group input-group-flat">
                <input type="password" name="password" class="form-control"  placeholder="Your password"  autocomplete="off">
            </div>
            </div>
            <div class="form-footer">
              <button type="submit" name="submit" class="btn btn-primary w-100">Sign in</button>
            </div>
          </form>
          <div class="text-center text-muted mt-3">
            Don't have account yet? <a href="/sign-up" tabindex="-1">Sign up</a>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Photo -->
        <div class="bg-cover min-vh-100 p-3" style="background-image: url(./images/background-login.jpg); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
            <!-- content goes here -->
          </div>
         </div>
        
    </div>
    </div>
    <%- include('./partials/scripts-sign.ejs') %>

  </body>
</html>